@tailwind base;
@tailwind components;
@tailwind utilities;

/* =========================
   PRINT STYLES (RECEIPT)
========================= */
@media print {
  body * {
    visibility: hidden;
  }

  .print-receipt,
  .print-receipt * {
    visibility: visible;
  }

  .print-receipt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  * {
  transition: background-color 0.2s ease, color 0.2s ease;
}


  @page {
    margin: 0;
  }
}
